.container {
  position: relative;
  height: 100vh;
}

.header {
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header img {
  min-height: 8rem;
  max-height: 10rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    max-width: 40rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin: 1rem;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  div + div {
    margin-left: 2rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  img {
    width: 3rem;
    margin: 0 1rem;
  }

  span {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
  }
}

.footer{
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  img{
    width: 3rem;
    margin-bottom: 1rem;
  }
}