@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #44475A;
}

body {
  background-image: url("/assets/bg.svg");
  background-repeat: repeat-x;
  background-size: 50%;
}

.modal {
  width: 90%;
  height: 90%;
  background-color: rgba(40, 42, 54, 0.9);
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(40, 42, 54, 0.6);
}

.modal-content {
  position: relative;
}

.modal-content nav div {
  text-align: center;
}

.modal-content nav li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin: 8px 16px;
  color: #f8f8f2;
  cursor: pointer;
  transition: 500ms;
}

.modal-content nav li:hover{
  border-bottom: 2px solid #50fa7b;
}

.modal-content nav li.active {
  border-bottom: 2px solid #50fa7b;
}

