.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/bg.svg');
  background-repeat: repeat-x;
  background-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .modal {
  width: 60%;
  height: 80%;
  background-color: #00000060;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.wrapper .modal .logo {
  width: 100%;
  height: 30%;
  background-image: url('../../assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.wrapper .modal .social {
  width: 100%;
  height: 70%;
}

.wrapper .modal .social p {
  font-size: calc(1.6rem + 1vw);
  color: white;
  text-align: center;
}

.wrapper .modal .social .buttons, a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5%;

}

.wrapper .modal .social .buttons a img {
  width: 25%;
  margin: 5%;
  border-radius: 15%;
}
.wrapper .modal .social .buttons a img:hover {
  border: 3px solid #50fa7b;
}
